/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/10/2016, 22:20:01
    Author     : aluz
*/

body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

a:hover{
    text-decoration: none;
}

img {
    max-width: 100%;
}

li{
    list-style: none;
}

main{
    min-height: 553px;
}

h1 {
    margin-bottom: 25px;
}

.form-group{
    margin: 25px 0;
    min-height: 15px;
}

.main-footer{
    margin: 20px 0;
}

#video, #canvas {
    max-width: 100%;
}

.loading {
    width: 50%;
    max-width: 100px;
}

.fields tfoot button{
    display: inline;
}